.body-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.body-head {
    background-color: black;
    color: aliceblue;
    font: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
}

.body-articles {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    margin-top: 30px;
    width: 65%;
    justify-items: center;
}

.body-services,
.body-kol {
    width: 65%;
    font-size: large;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 50px;
}

.body-servicesImage {
    display: flex;
    grid-gap: 70px;
    width: 100%;
    justify-content: center;
}

.body-servicesImage .servicesName {
    width: 200px;
    height: 200px;
    border-style: solid;
    align-items: center;
    border-radius: 50%;
    background: url("../../public/images/ServicesImage.png");
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
}

.body-KOLsImage {
    border-style: solid;
    width: 100%;
}
